nav {
  width: 100%;
}

.nav_wrapper {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 55px;
}
.nav_menu_item p {
  color: #fff;
  font-family: "Inter Tight", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  transition: all 0.4s ease;
}
.nav_menu_item:hover p {
  text-decoration: underline;
  transition: all 0.4s ease;
}
.nav_secondary p {
  color: #353535;
}
