nav {
  width: 100%;
}

.nav_wrapper {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 55px;
}
.nav_menu_item p {
  color: #fff;
  font-family: "Inter Tight", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  transition: all 0.4s ease;
}
.nav_menu_item:hover p {
  text-decoration: underline;
  transition: all 0.4s ease;
}
.nav_secondary p {
  color: #353535;
}
.mob_menu_icon {
  display: none;
}

.mob_menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1111;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #000;
  transform: translate(100%);
  transition: all 0.3s ease;
}

@media only screen and (max-width: 500px) {
  .nav_menu {
    display: none;
  }
  .nav_wrapper {
    padding: 15px 30px;
  }
  .nav_logo img {
    width: 72px;
  }
  .mob_menu_icon {
    display: flex;
  }

  .mob_menu_wrapper .mob_menu {
    transform: translate(0);
    transition: all 0.3s ease;
  }
  .mob_menu_icon {
    position: relative;
    z-index: 1113;
  }
  .mob_menu .nav_menu {
    display: flex !important;
    flex-direction: column;
    padding-top: 150px;
    
  }
  .nav_menu p {
    font-size: 22px;
    color: #fff;
  }
  .mob_menu .mob_menu_icon {
    top: 40px;
    right: 30px;
    position: absolute;
  }
}
